* {
  -webkit-tap-highlight-color: transparent;
}

.details {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(237, 236, 236);
  border-radius: 5px;
}

.details-heading {
  font-weight: bold;
}

.remarks-details {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(237, 236, 236);
  border-radius: 5px;
}

table thead tr {
  background-color: #1677ff;
}

table thead tr th {
  color: white !important;
}

tr,
td {
  border: 1px solid rgb(212, 210, 210);
}

.tableContentCenter {
  cursor: pointer;
  display: block;
  text-align: center;
}
